<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614231828446-olsaldaus1ft415l23682vs79nmqcuu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614231828446-olsaldaus1ft415l23682vs79nmqcuu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAajZ908qfpN45wR5-_p2RMUNvSFh_emk</string>
	<key>GCM_SENDER_ID</key>
	<string>614231828446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tideflo.errand-ios.kr</string>
	<key>PROJECT_ID</key>
	<string>errandapp-b4e08</string>
	<key>STORAGE_BUCKET</key>
	<string>errandapp-b4e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614231828446:ios:78ca519d9e2caae9909f4f</string>
</dict>
</plist>